body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEEEEE;
}

header {
  background-color: white;
  padding: 20px;
}

#header {
  margin-left: 40px;
}

#profile {
  float: right;
  width: 60px;
  height: 60px;
  border-radius: 90px;
  position: absolute;
  top: 40px;
  right: 60px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#today {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: repeat (3,1fr);
  gap: 40px 30px;
  background: #D6EAF8;
  padding: 50px;

}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: cornflowerblue;
  color: white;
}

.grid {
  background: white;
  border-radius: 30px;
}

.grid.tracker {
  background-color: white;
  width: 100%;
}

table, tr {
  border-collapse: collapse;
  color: black;
  text-align: center;
  padding: 20px;
  background-color: cornflowerblue;
  border-radius: 20px;
}

table {
 width: 100%;
}

th {
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  border-radius: 20px;
  color: white;
  border-bottom: 1px solid white;
}

td {
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 20px;
  color: white;
}

#piechart {
  width: 100%;
  margin-top: 25px;
}


#distance {
  width: 65%;
}

h3 {
  text-align: center;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}


.grid.tracker {
  grid-column:1/4;
  grid-row: 2/3;
}

.grid.steps {
  padding: 20px;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-content: center;
}

.grid.distance {
  display: flex;
  justify-content: center;
  padding: 20px;
  grid-column: 1/3;
  grid-row: 1/2;
}

#questions {
  padding: 60px;
  background-color: white;
}

#register {
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 60px;
}

#info {
  background-color: white;
}

h4 {
  padding-left: 60px;
  padding-top: 36px;
  font-size: 20px;
}


